# Ignore vi and emacs temp files
*~
#*#

# Ignore backup  files.
*bak

# Devel::Cover files
Scanner/t/cover_db

# ignore compiled files
wipmi
wstorcli

# LSI Raid controller insists on creating log file.
Scanner/MegaSAS.log
